<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.cyclingClubRaceTool"
        tools:targetApi="31">
        <activity
            android:name="edu.zjut.cyclingClubRaceTool.ui.sub.ChooseFinishRider"
            android:exported="false" />
        <activity
            android:name="edu.zjut.cyclingClubRaceTool.ui.sub.InputRiders"
            android:exported="false" />
        <activity
            android:name="edu.zjut.cyclingClubRaceTool.ui.sub.OutputRiders"
            android:exported="false" />
        <activity
            android:name="edu.zjut.cyclingClubRaceTool.ui.sub.EditStartRider"
            android:exported="false" />
        <activity
            android:name="edu.zjut.cyclingClubRaceTool.ui.sub.ChooseExchangeStartRider"
            android:exported="false" />
        <activity
            android:name="edu.zjut.cyclingClubRaceTool.ui.sub.ChooseCloneStartRider"
            android:exported="false" />
        <activity
            android:name="edu.zjut.cyclingClubRaceTool.ui.sub.EditFinishRider"
            android:exported="false" />
        <activity
            android:name="edu.zjut.cyclingClubRaceTool.ui.sub.ChooseExchangeFinishRider"
            android:exported="false" />
        <activity
            android:name="edu.zjut.cyclingClubRaceTool.ui.sub.ChooseCloneFinishRider"
            android:exported="false" />
        <activity
            android:name="edu.zjut.cyclingClubRaceTool.ui.sub.EditRider"
            android:exported="false" />
        <activity
            android:name="edu.zjut.cyclingClubRaceTool.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            tools:ignore="RedundantLabel">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>